.col-md-3 {
  background-color: #c59190;
}

.col-md-3 h4 {
  color: #752e12;
}

.col-md-3 p {
  color: #eeeeee;
}

body {
  background-color: #e6e6e6;
}

.jumbotron {
  background-color: #e57e52;
  text-align: center;
}
